<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div id="enotary">
        <a href="/"><i class="ri-arrow-left-s-line"></i></a>
        <div class="enotary__container">
            <h2 class="enotary__heading">E-Notary</h2>
            <p class="enotary__para">|| <span>Sign any type of legal Agreements online </span> ||</p>
            <div class="enotary__info">
                <p class="enotary__title">E-stamping is referred to as an online method of paying non-judicial stamp duty on the concerned property to the government. This has made the stamp duty and franking process much more convenient than the traditional methods. Stamping makes a contract legally valid by ensuring the specified stamp duty is paid to the government. The stamping process substantiates the transaction and makes the contract valid in a court of law.</p>
                <h3>e-Stamping for various applications and use cases, which include :- </h3>
                <ul class="useCases">
                    <li class="case1">Attesting to the legality of formal contracts</li>
                    <li class="case2">Finance or loan agreements</li>
                    <li class="case3">Property purchase and vending transactions</li>
                    <li class="case4">Leasing agreements</li>
                    <li class="case5">Vendor onboarding activities</li>
                    <li class="case6">Human resource operations</li>
                    <li class="case7">Sale deeds, affidavits, and other business agreements</li>
                </ul>
            </div>
            <h4 class="enotary__ending__line">Businesses can electronically stamp the documents of these transactions online so as to get them legalized and execute them officially.</h4>
        </div>
    </div>
{{>script}}
</body>
</html>