<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div id="esignatures">
        <a href="/"><i class="ri-arrow-left-s-line"></i></a>
        <h1 class="esign__heading">E-Signatures</h1>
        <div class="esignatures__container">
            <h4 class="esign__title">
                The NetworkDSC Digital Signature <br> Services Difference
            </h4>
            <div class="subject1">
                <div class="secure">
                    <div class="esign_mini_title1">
                        <h3>Secure</h3>
                    </div>
                    <div class="esign__para">
                        <p id="esign__para">Digital signatures are more secure than pen-and-ink handwritten signatures for many reasons. With traditional "wet" signatures, you can't tell when the signature was made and who actually signed the document. The data embedded with a digital signature gives you all of this information and more.</p>
                    </div>
                </div>

                <div class="fast">
                    <div class="esign_mini_title1">
                        <h3>Fast</h3>
                    </div>
                    <div class="esign__para">
                        <p id="esign__para">NetworkDSC solution gives you the power to make sure your customers sign those critical documents when you need them. No more waiting!</p>
                    </div>
                </div>

                <div class="convenient">
                    <div class="esign_mini_title1">
                        <h3>Convenient</h3>
                    </div>
                    <div class="esign__para">
                        <p id="esign__para">There's no app to download and nothing to install. Your customers can sign any document, wherever they are, at any time. </p>
                    </div>
                </div>


            </div>
        </div>
    </div>


{{>script}}
</body>
</html>