<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div id="framework__page">
        <a href="/"><i class="ri-arrow-left-s-line"></i></a>
        <h1>Simplifies Framework</h1>
        <div class="framework__container">
            <p class="framework__about">
                This is a framework that simplifies public key based authentication and digital signatures for users and service providers ,consists of a core service offered by Odyssey and xorkee client applications for Microsoft Windows enabled PCs, Macs, Ubuntu, iPhones and Android phones.
            </p>
        </div>
        <div class="error__free">
            <p class="error__free__about">Using this framework you will not face any error alike in IT portal Tds GST MCA portal .</p>
            <h3>One DSC - Use it anywhere in any system</h3>
            <p class="errorfree__two">
                Business groups and individual users can access authentication or digital signature services through xorkeeauth and xorkeesign services & they can use there signature from any location at current location
            </p>
        </div>
    </div>

{{>script}}
</body>
</html>