<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navMobile}}
    {{>productHoverClick}}
    {{>navbar}}
    {{!-- {{>navForMobile}} --}}
    {{!-- <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> --}}
    <div id="main">
        <header class="header__container">
            <div class="header__left">
                <h2 class="sub__heading">Save money, Save time</h2>
                <div class="heading">
                    <h1>Largest Provider of True Digital Signatures <br> in whole INDIA</h1>
                </div>
                <ul class="listings">
                    <li><i class="ri-checkbox-blank-circle-fill"></i>Any DSC, any client , Apply Paperless DSC &  Download in 10mins </li>
                    <li><i class="ri-checkbox-blank-circle-fill"></i>Experience 10 <span>X</span> faster service</li>
                    <li><i class="ri-checkbox-blank-circle-fill"></i>Our cloud-based platform lets you perform digital signatures on any device.</li>
                    <li><i class="ri-checkbox-blank-circle-fill"></i>Offering capabilities & Services beyond the other DSC vendor.</li>
                </ul>
                <div class="links">
                    <a href="/apply-PaperLessDSC">Apply PaperlessDSC</a>
                    <a href="https://calendly.com/networkdsc/digital-signature">Book a Demo <i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
            <div class="header__right">
                <div class="video">
                    <video src="" autoplay muted loop></video>
                </div>
            </div>
        </header>


        <section class="page1">
            <div class="pricing">
                <h1 class="price__tag">Let's Discuss The Price.....</h1>
                <ul class="pricinglists">
                    <li><h2>Class-3 Signing 2 Year Individual  <span>Rs.350</span></h2></li>
                    <li><h2>Class-3 Signing 3 Year Individual  <span>Rs.550</span></h2></li>
                    <li><h2>Class-3 Signing 2 Year Organisation  <span>Rs.450</span></h2></li>
                    <li><h2>Class-3 Signing 3 Year Organisation  <span>Rs.600</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 2 Year Individual  <span>Rs.750</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 3 Year Individual  <span>Rs.1150</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 2 Year Organisation <span>Rs.850</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 3 Year Organisation <span>Rs.1350</span></h2></li>
                    <li><h2>DGFT 2 Year <span>Rs.850</span></h2></li>
                    <li><h2>DGFT 3 Year <span>Rs.1350</span></h2></li>
                    <li><h2>Document Signer 2 Year  <span>Rs.14000</span></h2></li>
                    <li><h2>Tokens || HYP2003 & WD Proxkey || <span>Rs.350</span></h2></li>
                </ul>
            </div>
            <div class="question"><h2>Are you a CA ,CS ,CMA,Advocate or DSC Service Provider?</h2></div>
            <div class="btns">
                <a href="mailto:mail@networkdsc.com">Contact For Bulk DSC Rate</a>
                <a href="/partener">Become a Partener</a>
            </div>
        </section>
        <section class="page2">
            <h1>Join NetworkDSC <br>Partener Program Today</h1>
            <p>Unlock a world of opportunities, resources, and support with our Partner Program. Together, we will <br> redefine success and drive businesses to new heights.</p>
            {{>joinProgramForm}}
        </section>
        <section class="page3">
            <div class="cards_container">
                <div class="cards1">
                    <img src="/E-Signatures.jpg" alt="image1">
                    <h2 class="title">E-Signatures</h2>
                    <p class="info">Perfect for buisness of any size that want to start getting documents signed online right way.</p>
                    <a href="/esignatures">Learn More</a>
                </div>
                <div class="cards2">
                    <img src="/Notary.jpg" alt="image2">
                    <h2 class="title">E-Notary</h2>
                    <p class="info">We convert notarization to an electronic process using our patented digital signature technology.</p>
                    <a href="/enotary">Learn More</a>
                </div>
                <div class="cards3">
                    <img src="/framework.jpg" alt="image3">
                    <h2 class="title">Simplifies Framework</h2>
                    <p class="info">One Framework One DSC ues at any location Error Free.</p>
                    <a href="/simplifies">Learn More</a>
                </div>
            </div>
        </section>
        <footer class="footer__container">
            <div class="para">
                <h3>"Now our clients can sign documents anywhere they have Internet access. This partnership will make doing business more convenient for our clients and our channel partner."</h3>
            </div>
            <div class="footer__lower">
                <p>Want to learn more?</p>
                <img src="" alt="" class="image">
            </div>
            <p class="more">
                Our team would love to help you find the perfect fit of products and solutions.
            </p>
            <a href="https://calendly.com/networkdsc/digital-signature">Book a Demo</a>
            <br><br><br><br><br><br><br><br><br><br>
        </footer>
    </div>

<!--LocomotiveJs CDN-->
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

<!-- Gsap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Scroll Trigger CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/script.js"></script>
<script src="/js/mobile.js"></script>



</body>
</html>