<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div class="navForMobile" id="navigationBarForMobile">
        <div class="closeNav">
            <i class="ri-arrow-up-line closingTheNav"></i>
        </div>

    </div>  


{{>script}}    
</body>
</html>