<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div class="payments__page">
        <div class="backToHomeBtn"><a href="/"><i class="ri-arrow-left-line"></i></a></div>
        <div id="payments__container">
            <h1>For Payment Discussion</h1>
            <div class="contacts">
                <h3>Email : <a href="emailto:mail@networkdsc.com">mail@networkdsc.com</a></h3>
                <h3>Contact : <a href="tel:9429692055">9429692055</a></h3>
            </div>
            <div class="typesOfPayments">

                {{!-- 1 --}}
                <div class="subscription subscription1">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 350</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 2 --}}
                <div class="subscription subscription2">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 3 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 550</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 3 --}}
                <div class="subscription subscription3">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Organisation</span></div>
                    <div class="subscription__price"><span>Rs. 450</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 4 --}}
                <div class="subscription subscription4">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 3 Year</h5>
                    <div class="category"><span>Organisation</span></div>
                    <div class="subscription__price"><span>Rs. 600</span></div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 5 --}}
                <div class="subscription subscription5">
                    <h3 class="classType">Class 3 Signing/Encription</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 750</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 6 --}}
                <div class="subscription subscription6">
                    <h3 class="classType">Class 3 Signing/Encription</h3>
                    <h5 class="time">For 3 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 1150</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>

                {{!-- 7 --}}
                <div class="subscription subscription7">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Organisation</span></div>
                    <div class="subscription__price"><span>Rs. 850</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>
                <div class="subscription subscription8">
                    <h3 class="classType">Class 3 Signing</h3>
                    <h5 class="time">For 3 Year</h5>
                    <div class="category"><span>Organisation</span></div>
                    <div class="subscription__price"><span>Rs. 1350</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>
                <div class="subscription subscription9">
                    <h3 class="classType">DGFT</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 850</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>
                <div class="subscription subscription10">
                    <h3 class="classType">DGFT</h3>
                    <h5 class="time">For 3 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 1350</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a></div>
                <div class="subscription subscription11">
                    <h3 class="classType">Document Signer</h3>
                    <h5 class="time">For 2 Year</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 14,000</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>
                <div class="subscription subscription12">
                    <h3 class="classType">Tokens [HYP2003 and WD Proxkey ]</h3>
                    <h5 class="time">For 2 Year's</h5>
                    <div class="category"><span>Individual</span></div>
                    <div class="subscription__price"><span>Rs. 350</span> </div>
                    <a href="https://rzp.io/l/networkdsc" target="_blank"><input type="submit" value="Pay Now"></a>
                </div>
            </div>
        </div>
    </div>



{{>script}}

</body>
</html>