<div class="navForMobile" id="navigationBarForMobile">
    <div class="closeNav">
        <i class="ri-arrow-up-line closingTheNav"></i>
    </div>
    <h2 class="CompanyName">NetworkDSC</h2>
    <ul class="links">
        <li><a href="/products">Products</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/payments">Payments</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="mobile__partener__btn">
        <a href="/partener">Partener</a>
    </div>

    {{!-- <p>Before visiting Please be sure that Your Account must be Logged In first</p> --}}

    <div class="nav__mobile__lower">
        <p><a href="mailto:mail@networkdsc.com">mail@networkdsc.com</a></p>
        <p><a href="tel:+91-9429692055">+91-9429692055</a></p>
    </div>


</div>