<div class="pricingListsInHover page1" id="showPricingOnHover">
    <section class="page1">
            <i class="ri-close-fill"></i>
            <div class="pricing">
                <h1 class="price__tag">Let's Discuss The Price.....</h1>
                <ul class="pricinglists">
                    <li><h2>Class-3 Signing 2 Year Individual  <span>Rs.350</span></h2></li>
                    <li><h2>Class-3 Signing 3 Year Individual  <span>Rs.550</span></h2></li>
                    <li><h2>Class-3 Signing 2 Year Organisation  <span>Rs.450</span></h2></li>
                    <li><h2>Class-3 Signing 3 Year Organisation  <span>Rs.600</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 2 Year Individual  <span>Rs.750</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 3 Year Individual  <span>Rs.1150</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 2 Year Organisation <span>Rs.850</span></h2></li>
                    <li><h2>Class-3 Signing/Encription 3 Year Organisation <span>Rs.1350</span></h2></li>
                    <li><h2>DGFT 2 Year <span>Rs.850</span></h2></li>
                    <li><h2>DGFT 3 Year <span>Rs.1350</span></h2></li>
                    <li><h2>Document Signer 2 Year  <span>Rs.14000</span></h2></li>
                    <li><h2>Tokens || HYP2003 & WD Proxkey || <span>Rs.350</span></h2></li>
                </ul>
            </div>
    </section>
</div>