{{!-- <i class="ri-arrow-up-circle-fill productRemixIcons"></i> --}}
<div class="cards__container__products">
    <i class="ri-arrow-up-circle-fill productRemixIcons"></i>
    <div class="card1cards__container__products">
        <h4>Class 3 Signing</h4>
        <div class="paraProducts">
            <p class="product_type">| For - Individual and Organization |</p>
            <p class="product_use">
                || IncomeTax , TDS , MCA , GST , EPF ,<br>ImportExport Crtificate Registration  ||
            </p>
        </div>

    </div>
    <div class="card2cards__container__products">
        <h4>Class 3 Signing and Encryption</h4>
        <div class="paraProducts">
            <p class="product_type">| For - Individual and Organization |</p>
            <p class="product_use">
                || Use-e-tendering, e-procurement, e-governance[All States], Railway, DGS and D, IFFCO, Air India,ONGC icegate Etc. ||
            </p>
        </div>
    </div>
    <div class="card3cards__container__products">
        <h4>DGFT</h4>
        <div class="paraProducts">
            <p class="product_type">| For - Organization |</p>
            <p class="product_use">
                || Use Import-Export  ||
                || Tokens[ HYP2003 [EPASS AUTO] and WATCHDATA PROXKEY] ||
            </p>
        </div>
    </div>
    <div class="card4cards__container__products">
        <h4>Document Signer</h4>
        <div class="paraProducts">
            <p class="product_type">| For - Individual and Organization |</p>
            <p class="product_use">
                || Automate document signing with organization certificates with optional department-level identifiers, Additionally, timestamp documents to support time-sensitive transactions, audit trails, and non-repudiation  ||
            </p>
        </div>
    </div>
</div>